# Stellar Network Configuration
NEXT_PUBLIC_STELLAR_NETWORK=TESTNET
NEXT_PUBLIC_STELLAR_RPC_URL=https://soroban-testnet.stellar.org
NEXT_PUBLIC_STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org

# US Power Smart Contracts (Testnet)
NEXT_PUBLIC_ENERGY_TOKEN_CONTRACT=CAUH3NUZGCNRHHVJK5S3FLXIS244GCNPC2LDZDU2SVOK66G3IGAGBBL2
NEXT_PUBLIC_ENERGY_DISTRIBUTION_CONTRACT=CDXWZSWTM6DGYTDME3BEDE6U7JBHMG4YM7ZW237UZS2XTUWFVEEMIROR
NEXT_PUBLIC_COMMUNITY_GOVERNANCE_CONTRACT=CCH2EXXNSDW2BAKBIPFAG6CCZS6LV4VJFUP2CZZCW5LEY4JOAXBJD6YI

# Admin Account (Testnet)
NEXT_PUBLIC_ADMIN_ADDRESS=GCHCYTHV4JSIJNCN56EIEXZNTB6JUHYX25FTSYFOM4DDVGV7UXWOHLCW
